<!DOCTYPE html>
<link rel="icon" href="data:;base64,=">
<meta charset="utf-8">
<title>Simplifiez vous la vie - tducret.com</title>
<link rel="stylesheet" href="/style.css">

<header>
    <h1>[td]</h1>
    <nav><strong>Accueil</strong> | <a href="https://github.com/tducret" target="_blank">Github</a> | <a href="https://www.linkedin.com/in/thibaultducret" target="_blank">Linkedin</a> | <a href="https://visualping.io/?url=tducret.com&mode=text" target="_blank" title="Soyez notifié des nouveaux articles">🔔</a></nav>
</header>

{{ content }}
<footer></footer>
</html>
