<!DOCTYPE html>
<link rel="icon" href="data:;base64,=">
<link rel="prefetch" href="/makesite/creer-un-powerpoint-en-markdown/">
<meta charset="utf-8">
<title>Simplifiez vous la vie - tducret.com</title>
<style>html{background-color:#f4f3ec}header{text-align:center}body{background-color:#ffffff;margin:auto;max-width:700px;padding:5px 50px;font-family:Georgia, 'Times New Roman', Times, serif;color:#444}nav{padding-bottom:30px}nav a{text-decoration:none;font-weight:bold;color:#8b0000}h1.logo{font-family:monospace, 'Courier New', Courier;font-size:40px}h1,h2,h3{font-family:Helvetica, Arial, sans-serif;color:#000}h3{font-size:22px;padding-top:30px}h2{color:#000;padding-top:10px}p{line-height:1.42}h3 a{text-decoration:none;color:#000}footer{padding-top:50px}hr{width:15%;margin:30px auto;border:none;height:1px;background-color:#ddd}.wider{width:80%;margin-top:5px}</style>
<header>
    <h1 class="logo">[td]</h1>
    <nav><strong>Accueil</strong> | <a href="https://github.com/tducret" target="_blank">Github</a> | <a href="https://www.linkedin.com/in/thibaultducret" target="_blank">Linkedin</a> | <a href="https://visualping.io/?url=tducret.com&mode=text" target="_blank" title="Soyez notifié des nouveaux articles">🔔</a></nav>
</header>
<hr class="wider">
{{ content }}
<footer></footer>